<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <link rel="icon" href="/AcoFork.webp">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - 页面未找到</title>
  </head>
  <body>
    <div class="container">
        <img src="/NotFound.png" alt="404" class="scaled-image">
    </div>
  </body>
</html>

<style>
  .container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .scaled-image {
    transform: scale(0.25); /* 缩放到25% */
  }

  body {
    background-color: #17181C;
    margin: 0;
    padding: 0;
  }
</style>
